@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

:root {
    --black: #1F2026;
    --green: #35ba9B;
    --blue: #3aadd9;
    --yellow: #f5b945;
    --red: #d94452;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

a {
    color: var(--blue);
    text-decoration: none;
}

.navbar {
    overflow: hidden;
    background-color: var(--black);
    padding: 10px;
    /* position: absolute; */
    top: 0;
    /* width: 100%; */
    /* z-index: 1002; */
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--black);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1000;
    right: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--blue);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    margin-top: 60px; /* Ajustar conforme necessário para evitar sobreposição do conteúdo com o menu */
}

/* Outros estilos fornecidos */
h1, h2, h3, h4, h5, h6, p, article, pre {
    margin: 20px 0;
    padding-left: 10px;
}

p {
    font-size: 0.875em;
    margin: 10px 0;
}

.trigger {
    font-size: 0.9em;
    padding: 15px;
    border-radius: 4px;
    margin: 20px 0;
    font-weight: bold;
    border: 1px solid #cccccc;
}

.trigger small {
    display: block;
    margin-top: 7px;
    font-family: "Roboto Mono", serif;
    font-size: 0.75em;
}

.trigger.info {
    color: var(--blue);
    border-color: var(--blue);
}

.trigger.success, .trigger.accept {
    color: var(--green);
    border-color: var(--green);
}

.trigger.warning {
    color: var(--yellow);
    border-color: var(--yellow);
}

.trigger.error {
    color: var(--red);
    border-color: var(--red);
}

.parent-container {
    width: 100vw;
    /* height: 100%; */
    top: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* background: #f7f8fa; */
}

.login-box {
    max-width: 550px;
    width: 70vw;
    padding: 40px;
    background: #f7f8fa;
    color: #212121;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.32);
    border: 1px solid #212121;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #212121;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #212121;
    outline: none;
    color: #212121;
    font-size: 16px;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #0202ff;
    font-size: 12px;
}

.form-row, .address-row {
    display: flex;
    justify-content: space-between;
}

.form-row .user-box, .address-row .user-box {
    flex: 1;
    margin-right: 10px;
}

.form-row .user-box:last-child, .address-row .user-box:last-child {
    margin-right: 0;
}

button {
    background: #000080;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

button:hover {
    background: rgba(2, 2, 255, 0.55);
}

.display-1 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}
